{% extends "main.html" %}

{% block maincontent %}

<h1>Warp</h1>

{% if failed %}

    <strong>Warp creation failed!</strong> Check your credentials and try again.

{% endif %}

<form class="form" action= "/warp" method="POST">
	<label for="name">Name</label>
	<input type="text" value="{{ name }}" name="name"/>
	<label for="description">Description</label>
	<input type="text" value="{{ description }}" name="description"/>
	<button type="submit" class="btn">Create</button>
</form>

{% endblock %}
